.homepage {
    width:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:0;
}

.overlay {
    width: 40%;
    position:relative;
    left: 20px;
    top: 10px;
    z-index:1;

}

.headline{
    font-size: 15px;
    font-family: sans-serif;
    color: white;
    z-index:1;
    position: relative;
    left: 140px;
    top: 0px;
}

.button2{
    position: absolute;
    right:12%;
    top: 10%;
    z-index:2;
}

.button1{
    position: absolute;
    right:5%;
    top: 10%;
    z-index:2;

}